.sidebar{position: fixed;
    left:0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 74px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-link:hover{
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}

.sidebar-link img {
    height: 24px;
    margin-bottom:4px ;
}

.sidebar-link div {
    font-size: 11px;
    font-family: Roboto,Arial;
    font-weight: 500;

}